#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.read-the-docs {
  color: #888;
}


#navlinks {
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#navlinks nav ul {
  display: flex;
  justify-content: space-evenly; 
  align-items: center;
  list-style: none;
  margin: 0; 
  padding: 0; 
}

#navlinks nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#navlinks nav ul li a:hover {
  background-color: #fff;
  color: #333;
}

#navlinks nav ul li a.active {
  background-color: #fff;
  color: #333;
}

#navlinks nav ul li a.active:hover {
  background-color: #fff;
  color: #333;
}

#navlinks nav ul li a.active:visited {
  background-color: #fff;
  color: #333;
}

#navlinks nav ul li a.active:visited:hover {
  background-color: #fff;
  color: #333;
}

.card {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 10px;
  min-width: 200px;
}

.card img {
  width: 100%;
  max-height: 300px; 
  object-fit: cover; 
  border-radius: 8px;
}

.card-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center;
}


.card-link {
  text-decoration: none;
  color: inherit;
}

.card-button {
  border: none;
  background-color: #646cff;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 8px;
}

.card-button:hover {
  background-color: #535bf2;
}

.card-button:active {
  background-color: #646cff;
}

.card-button:focus {
  outline: none;
  
div.returnDetails {
  background-color: rgb(19, 80, 91);
  border: solid 4px black;
  color: rgb(215, 217, 206);
  font-family: serif;
  

}
a.SinglePlayer {
  display: none;
}

button.goBack {
background-color: rgb(4, 4, 4);
border: solid 2px rgb(215, 217, 206);
color: rgb(215, 217, 206);
}

button.detailsButton {
  background-color: rgb(4, 4, 4);
  border: solid 2px rgb(215, 217, 206);
  color: rgb(215, 217, 206);
}
p {
  color: black;
  font-size: large;
  font-weight: bold;
}
